<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
<!-- 	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/lista-veiculos.css}" /> -->
</head>


<body>

		<section layout:fragment="content">
		
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a th:href="@{/home}">Inicio</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Relatórios de Equipamentos</li>
			  </ol>
			</nav>
			
			<div class="container">
			<form  th:object="${filtro}" th:action="@{/relatorios/equipamento/status}" method="POST" 
						class="form-default" >
				<div class="form-row">
					<div class="col"><h5>Pesquisar por tipo:</h5></div>
					<div class="w-100"></div>
				    <div class="col">
				      <input type="text" class="form-control" th:field="*{tipo}" placeholder="Informe o tipo do equipamento">
				      <small class="form-text text-muted">
						      	Exemplo: Sensor
						</small>
				    </div>
				    <div class="col">
				      <button type="submit" class="btn btn-block btn-outline-secondary" >
				      <span class="fa fa-search"></span> Pesquisar
					</button>
					<a  class="btn btn-block btn-outline-success" th:onclick="${'mostrarModal()'}" >
						<span class="fa fa-file-pdf"></span> Gerar PDF
					</a>
				    </div>
				    
				  </div>
				  </form>
			</div>

			<div class="container">
			
<!-- 			<div class="row" style="padding-top: 10px;"> -->
<!-- 				<div class="col-md-6"> -->
					
<!-- 					<button type="button" class="btn btn-success" > -->
<!-- 							  Validar -->
<!-- 							</button> -->
<!-- 						    <button type="button" class="btn btn-danger" > -->
<!-- 							  Remover -->
<!-- 					</button> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-6"> -->
					
<!-- 				</div> -->
<!-- 			</div> -->
			
			
			<div class="row" style="padding-top: 10px;">
				<div class="col-md-12">
					<div class="table-responsive">
					<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Tipo</th>
								<th>Descrição</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="equipamento : ${equipamentos}">

								<td th:text=${equipamento.id}>Id</td>
								
								<td th:text=${equipamento.tipo}>Tipo</td>
								
								<td th:text=${equipamento.descricao}>Descrição</td>
								
								<td th:text=${equipamento.status}>Status</td>
							</tr>

							<tr th:if="${equipamentos.empty}">
								<td colspan="5">Nenhum equipamento encontrado!</td>
							</tr>
						</tbody>
					</table>
				</div>
				</div>
			</div>	
			
			</div>	
			
			<div class="modal fade" id="relatorioModal" tabindex="-1"
			role="dialog" aria-labelledby="relatorioModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="confirmacaoModalLabel">Geração do relatório em PDF</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form th:object="${filtroPdf}" th:action="@{/relatorios/equipamento/status/gerarPdf}"
						method="POST" class="form-default form-horizontal">
						<div class="modal-body">
							<div class="form-group row justify-content-left">
									<label for="tipoModal"
										class="col-sm-4 col-form-label   text-right">Tipo</label>
									<div class="controls col-sm-4">
										<input type="text" th:field="*{tipo}"
											class="form-control" placeholder=""/>
									</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary">Confirmar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		
		<script type="text/javascript">
			
				function mostrarModal()
				{
					
					$('#relatorioModal').modal('show');
									
				}
				
				function esconderModal()
				{
					
					$('#relatorioModal').modal('hide');
									
				}
			
			</script>
			
			
		</section>
		

</body>
</html>
