<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
</head>

<body>

<section layout:fragment="content" >
	
		<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a th:href="@{/home}">Inicio</a></li>
			    <li class="breadcrumb-item"><a th:href="@{/mensalidades}">Mensalidades</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Editar</li>
			  </ol>
		</nav>
		
		<div class="container">
			<div class="row">
						<div class="col-md-12">
							<h1 >
								Mensalidade
							</h1>
							
							
							
						</div>
					</div>
		</div>
		
		<div class="container border rounded p-3" style="border-color: graytext;">
		
		<div class="row">
					<div class="col-md-12">
				<form method="POST" class="form-vertical" th:action="@{/mensalidades/processar}" th:object="${mensalidade}">
						
					<div class="alert  alert-danger  alert-dismissible" role="alert" 
                th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

					<div th:each="erro: ${#fields.detailedErrors()}">
						<i class="fa fa-exclamation-circle"></i>
						
						<span th:text="${erro.message}">Mensagem erro.</span>
					</div>
				</div>
				
				
				<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
					<i class="fa fa-check-circle"></i>

					<span th:text="${mensagem}">Mensagem sucesso!</span>
				</div>	
						
						
						
					<input id="id" type="hidden" th:field="*{id}" value="${mensalidade.id}" />
					<input id="idCliente" type="hidden" th:field="*{cliente.id}" value="${cliente.id}" />
					<input id="clienteEmail" type="hidden" th:field="*{cliente.email}" value="${cliente.email}" />
					
					<div class="form-group">
						<label>Cliente</label>
						
						<input type="text" class="form-control" th:field="*{cliente.nome}" />
					</div>
					
					<div class="form-group">
						<label>CPF</label>
						
						<input type="text" class="form-control" th:field="*{cliente.cpf}" />
					</div>
					
					<div class="form-group">
						<label>Email</label>
						
						<input type="text" class="form-control" th:field="*{cliente.email}" />
					</div>
					
					<div class="form-group">
						<label>Data de Vencimento</label>
						
						<input type="text" class="form-control" th:field="*{dataVencimento}" />
					</div>
					
					<div class="form-group">
						<label>Valor(R$)</label>
						
						<input type="text" class="form-control" th:field="*{valor}" />
					</div>
					
					<div class="form-group">
						<label>Status</label>
						
						<input type="text" class="form-control" th:field="*{status}" />
					</div>
		
					<div class="btn-group">
								<button id="pagamento" name="pagamento" value="Pagamento" class="btn  btn-success" th:if="${mensalidade.status != 'PAGO'}" type="submit"><i class="fa fa-credit-card"></i> Confirmar Pagamento</button>
								<button id="enviar" name="enviar" value="Email" class="btn  btn-warning" th:if="${mensalidade.status != 'PAGO'}" type="submit"><i class="fa fa-envelope"></i> Enviar Cobrança</button>							
								<a class="btn  btn-danger " role="group" th:href="@{/mensalidades}"><i class="fa fa-times"></i> Cancelar</a>
					</div>


						</form>
					</div>
				</div>
		
		
		</div>
		
</section>

</body>

</html>